@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --theme: rgb(255, 255, 255);
  --nav: rgb(210, 240, 240);
  --font: rgb(45, 45, 45);
  --sideBar: #f4f4f4;
  --highlight: #ffeb3b;
}

.dark-mode {
  --theme: rgb(18, 18, 18);
  --font: #ffffff;
  --sideBar: rgb(30, 30, 30);
  --highlight: #ffeb3b;
}

#moon-icon {
  display: none;
}

.dark-mode #sun-icon {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--theme);
  color: var(--font);
  transition: background-color 0.6s, color 0.6s;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--theme);
}

.nav {
  color: var(--font);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid gray;
  align-items: center;
}

.nav-content {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-content a {
  text-decoration: none;
  color: var(--font);
}
.nav h1 {
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 1px solid black;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.nav ul li {
  transition: transform 0.3s ease;
  list-style: none;
}

.nav ul li:hover {
  cursor: pointer;
  transform: translateY(-5px);
  font-weight: bold;
}

#theme-toggle {
  padding: 0.8rem;
  border-radius: 15px;
  border: 5px solid gray;
  color: var(--font);
  background: var(--theme);
  opacity: 70%;
  border-style: double;
  transition: 0.3s;
}

#theme-toggle:hover {
  cursor: pointer;
  background: var(--font);
}

/* main page */

/* sidebar */
.sidebar {
  width: 250px;
  background-color: var(--sideBar);
  padding: 4rem 1.2rem;
  height: 100vh;
  position: fixed;
  transition: transform 0.3s ease;
  overflow-y: auto;
}

.sidebar.hidden {
  transform: translateX(-100%);
}
.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.sidebar h3 {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar h3 a {
  text-decoration: none;
  color: var(--font);
}
.sidebar .toggle-arrow {
  cursor: pointer;
  font-size: 0.8em;
  padding: 0 5px;
}
.sidebar .toggle-arrow.collapsed::after {
  content: "▶";
}
.sidebar .toggle-arrow::after {
  content: "▼";
}
.sidebar input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  display: none;
}
.sidebar ul.active {
  display: block;
}
.sidebar li {
  padding: 8px;
  cursor: pointer;
}
.sidebar li.highlight {
  background-color: orange;
}
.toggle-btn {
  display: none;
}
.mobile-toggle-btn {
  display: none;
  position: fixed;
  top: 5.5rem;
  left: 0.5rem;
  background: var(--font);
  color: var(--theme);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1000;
}

/* main content */
.main-content {
  margin-left: 270px;
  padding: 20px;
  flex-grow: 1;
  position: relative;
  z-index: 1;
  margin-top: 0;
  transition: margin-left 0.3s ease;
}
.main-content section {
  margin-bottom: 20px;
}

#git-content h1 {
  text-align: center;
  padding: 1rem 0 0 0;
}

.main-content-title {
  text-align: center;
  padding: 1rem 0 0 0;
}

#git-content h3 {
  padding: 1rem 0 0 0;
}

/* prismCSS */
.toolbar-item button {
  cursor: pointer !important;
  border: 1px solid white !important;
  border-radius: 15px !important;
  margin: 5px 10px !important;
  padding: 5px 15px !important;
}

@media (max-width: 768px) {
  .nav {
    margin: 0;
    padding: 0;
  }
  .nav-content {
    flex-direction: column;
  }
  .sidebar {
    transform: translateX(-100%);
    z-index: 999;
  }
  .sidebar.active {
    transform: translateX(0);
  }
  .main-content {
    margin: 2rem auto;
  }
  .mobile-toggle-btn {
    display: block;
  }
  .toggle-btn {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    background: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
}
